@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #141414;
    color: #f4f4f4;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    border-radius: 15px;
    width: 385px;
    height: 615px;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 8px;
}

h2 {
    color: #CCF142;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 24px;
}

p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 24px;
}

.avatar-container {
    padding-bottom: 30px;
}

.avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: 40px;

}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.social-links button {
    border-radius: 8px;
    width: 100%;
    height: 45px;
    margin: 0 0 16px 0;
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-links button:hover {
    background-color: #CCF142;
    color: #000;
}

.social-links button:active {
    transform: scale(0.98);
}

.social-links button:focus {
    outline: 2px solid #CCF142;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
}

.attribution a { 
    color: #E5F8A0; 
    text-decoration: none;
}

@media (max-width: 375px) {
    .card {
        width: 325px;
        margin-top: 20px;
    }

    .social-links button {
        max-width: 280px;
        width: 100%;
        margin-bottom: 15px;
    }
}